{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Flute">
					<div class="card-body">
						<h5 class="card-title">Flute</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Guitare">
					<div class="card-body">
						<h5 class="card-title">Guitare</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Piano">
					<div class="card-body">
						<h5 class="card-title">Piano</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Violon">
					<div class="card-body">
						<h5 class="card-title">Violon</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Harpe">
					<div class="card-body">
						<h5 class="card-title">Harpe</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-center" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Image Batterie">
					<div class="card-body">
						<h5 class="card-title">Batterie</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Réserver un créneau</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}